<table
  id="students-table"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="present">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [(ngModel)]="presentSelected"
        (change)="changeAllStudentsPresence('present')"
      >
        Obecny
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        [checked]="wasStudentPresent(element.personId)"
        (change)="changeStudentPresence(element.personId, 'present')"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="absent">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [(ngModel)]="absentSelected"
        (change)="changeAllStudentsPresence('absent')"
      >
        Nieobecny
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        [checked]="wasStudentAbsent(element.personId)"
        (change)="changeStudentPresence(element.personId, 'absent')"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="absentNote">
    <th mat-header-cell *matHeaderCellDef>Usprawiedliwienie</th>
    <td mat-cell *matCellDef="let element">{{ element.absentNote }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    [ngClass]="ifMarked(i)"
    mat-row
    *matRowDef="let row; columns: displayedColumns; let i = index"
  ></tr>
</table>
<button mat-raised-button color="primary" (click)="generatePersonToAnswer()">
  Wylosuj osobę do odpowiedzi
</button>
<button mat-button color="primary" (click)="modifyLesson()">
  Zmodyfikuj lekcje
</button>
<button
  mat-button
  color="primary"
  [disabled]="modifyAttendancesButtonDisabled"
  (click)="updateAttendances()"
>
  Zapisz
</button>
