<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Zarządzanie kontami">
        <button (click)="addPerson()" mat-raised-button color="primary">Utwórz nową osobę</button>
        <table mat-table class="users-table">
           <thead>
               <tr>
                   <th>Imię</th>
                   <th>Nazwisko</th>
                   <th>Rola</th>
                   <th>Login</th>
                   <th>Data urodzenia</th>
                   <th>Numer telefonu</th>
                   <th>Adres</th>
                   <th>PESEL</th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let person of persons">
                  <td>{{person.name}}</td>
                  <td>{{person.surname}}</td>
                  <td>{{person.role}}</td>
                  <td>{{person.login}}</td>
                  <td>{{person.dateOfBirth | date:"dd.MM.yyyy"}}</td>
                  <td>{{person.phoneNumber}}</td>
                  <td>{{person.address}}</td>
                  <td>{{person.pesel}}</td>
                  <td>
                    <button (click)="editPerson(person)" mat-raised-button color="primary">Edytuj</button>
                    <button (click)="deletePerson(person)" mat-raised-button color="accent">Usuń</button>
                  </td>
               </tr>
           </tbody>
          </table>
    </mat-tab>
    <mat-tab label="Przedmioty">Przedmioty</mat-tab>
    <mat-tab label="Klasy">Klasy</mat-tab>
    <mat-tab label="Pomieszczenia">Pomieszczenia</mat-tab>
  </mat-tab-group>